.formContainer {
  background-color: #fefae0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #bc6c25;
    padding: 100px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #283618;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #283618;
      font-size: 30px;
      font-weight: bolder;
      margin-top: -50px;
      padding-bottom: 30px;
    }

    input {
      padding: 15px;
      border: none;
      width: 250px;
      border-bottom: 1px solid #283618;
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    button {
      background-color: #283618;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      cursor: pointer;
    }

    img {
      width: 32px;
    }

    p {
      color: #fefae0;
      font-size: 15px;
      margin-top: 10px;
      font-weight: bolder;
    }
  }
}
