.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.clicked {
  display: block;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.boxes {
  overflow-y: scroll;
  max-height: 40px;
  justify-content: left;

  label {
    width: 30px;
    height: 40px;
  }
  p {
    display: flex;
    width: 150px;
    font-size: 5px;
  }
}

.formContainer2 {
  background-color: #fefae0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #bc6c25;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .button {
      align-items: center;
      justify-content: space-between;
      margin-top: -100px;
      margin-bottom: 50px;
      margin-left: -10px;
      button {
        margin-left: 30px;
      }
    }
    .logo {
      color: #283618;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #283618;
      font-size: 30px;
      font-weight: bolder;
      padding-bottom: 30px;
    }

    input {
      padding: 15px;
      border: none;
      width: 250px;
      border-bottom: 1px solid #283618;
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .myDropDown {
      display: flex;
      flex-direction: column;
      height: 20px;
      overflow-y: scroll;
      margin-top: 20px;
    }

    button {
      background-color: #283618;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      cursor: pointer;
    }

    img {
      width: 32px;
    }

    p {
      color: #fefae0;
      font-size: 15px;
      margin-top: 10px;
      font-weight: bolder;
    }
  }
}
